.btn-primary {
    background-color: orange;
    border-color: orange;
}

.card .card-body {
    border: none;
}

.mybgcolor {
    background-color: #120047;
}

.nav-link {
    background-color: #120047;
    color: white; 
}
.nav-link:hover {
    background-color: white;
}